NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_ANDROID_APP_URL=https://play.google.com/store/apps/details?id=app.perazzo.pieceful
NEXT_PUBLIC_SENTRY_DSN=
NEXT_PUBLIC_SENTRY_TRACES_SAMPLE_RATE=0.05
NEXT_PUBLIC_APP_ENV=development
NEXT_PUBLIC_APP_RELEASE=
SENTRY_DSN=
SENTRY_AUTH_TOKEN=
SENTRY_ORG=
SENTRY_PROJECT=
